
#container {
    border: 1px solid black;
    padding: 2%;
    padding-top: 1%;
    width: 50%;
}

#infoTable {
    border: 1px solid black;
    border-collapse: collapse;
    visibility: hidden;
}

#infoTable th, #infoTable td {
    border: 1px solid black;
    font-family: sans-serif;
}

#title,#tableTitle {
    font-family: sans-serif;
}

#satelliteArea {
    border: 1px solid darkcyan;
    width: 75%;
    padding: 2%;
    margin-top: 2%;
}

.latlon {
    font-family: sans-serif;
}

